<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guided Meditation Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Guided Meditation Demo</h1>
        <form>
            <table>
                <tr>
                    <td><label for="name" >Name:</label></td>
                    <td><input type="text" id="name" placeholder="Enter name."> </td>
                </tr>
                <tr>
                    <td><label for="gender" >Gender:</label></td>
                    <td><select id="gender" name="gender" style="text-align: left;">
                        <option>-- Chose Option -- </option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                        <option value="preferNotToSay">Prefer not to say</option>
                        </select></td>
                </tr>
                <tr>
                    <td><label for="struggles" >Struggles:</label></td>
                    <td><input type="text" size="50" id="struggles" placeholder="Enter struggles (e.g., finding a job)."></td>
                </tr>
                <tr>
                    <td><label for="emotions" >Emotions:</label></td>
                    <td><input type="text" id="emotions" placeholder="Enter emotions (e.g., doubt, stress, fear)."></td>
                </tr>
                <tr>
                    <td><label for="goal" >Goal:</label></td>
                    <td><input type="text" id="goal" placeholder="Enter goal (e.g., reassurance, comforted)."></td>
                </tr>
                <tr>
                     <td><label for="other_info" >Other Info:</label></td>
                    <td><input type="text" id="other_info" placeholder="Any other info."></td>
                </tr>
             </table>
            <button id="createSessionButton" onclick="createSession()">Create Session</button>
        </form>
        <!-- Progress Bar -->
        <div id="progressBar" style="display:none;">
            <p>Loading...</p>
            <progress></progress>
        </div>

        <!-- Audio Player Container -->
        <div id="audioContainer"></div>

        <div id="errorOutput"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


